<html>
  <head>
    <!--generic stuff-->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <!-- <script type="text/javascript" src="dat.gui.min.js"></script> -->
    <link rel="stylesheet" href="../css/default.css" />
    <!-- <link rel="stylesheet" href="../css/dat.gui.css"> -->

    <!--specific stuff-->
    <script src="./js/D-.js"></script>
    <link rel="stylesheet" href="./-.css" type="text/css" />
  </head>
  <body>
    <div id="output">
      <svg class="chart"></svg>
    </div>
    <script>
      (function () {
        show();
      })();
    </script>
  </body>
</html>
